@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 77, 4, 20;
  --background-start-rgb: 253, 244, 238;
  --background-end-rgb: 253, 244, 238;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
